n8n/Draft Execution.json
{
  "name": "Draft Execution",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "execute-draft",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "e88d18b1-1",
      "name": "Webhook"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.body.recipient }}",
        "subject": "={{ $json.body.subject }}",
        "message": "={{ $json.body.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        250,
        0
      ],
      "id": "e88d18b1-2",
      "name": "Send Email",
      "credentials": { "gmailOAuth2": { "id": "tkqRW2XjpfGRoeEd", "name": "Gmail account" } }
    },
    {
      "parameters": {
        "schema": "public",
        "table": "draft_replies",
        "columns": {
          "mappingMode": "defineBelow",
          "value": { "status": "Executed" },
          "matchingColumns": [ "id" ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        500,
        -50
      ],
      "id": "e88d18b1-3",
      "name": "Mark Draft Executed",
      "credentials": { "postgres": { "id": "57onlUbW4pSOWEVy", "name": "Postgres account" } }
    },
    {
      "parameters": {
        "schema": "public",
        "table": "email_actions",
        "columns": {
          "mappingMode": "defineBelow",
          "value": { "scheduling_status": "Executed" },
          "matchingColumns": [ "id" ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        500,
        100
      ],
      "id": "e88d18b1-4",
      "name": "Mark Action Executed",
      "credentials": { "postgres": { "id": "57onlUbW4pSOWEVy", "name": "Postgres account" } }
    },
    {
      "parameters": { "options": {} },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        750,
        0
      ],
      "id": "e88d18b1-5",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": { "main": [ [ { "node": "Send Email", "type": "main", "index": 0 } ] ] },
    "Send Email": {
      "main": [
        [ { "node": "Mark Draft Executed", "type": "main", "index": 0 } ],
        [ { "node": "Mark Action Executed", "type": "main", "index": 0 } ]
      ]
    },
    "Mark Draft Executed": { "main": [ [ { "node": "Respond to Webhook", "type": "main", "index": 0 } ] ] },
    "Mark Action Executed": { "main": [ [ { "node": "Respond to Webhook", "type": "main", "index": 0 } ] ] }
  }
}
