n8n/Draft Execution.json
{
  "name": "Draft Execution",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "execute-draft",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -640,
        -64
      ],
      "id": "234131d4-aaef-4bec-9e10-2fca6b11ed9b",
      "name": "Webhook",
      "webhookId": "d077bb56-9616-491d-8147-9f50c2f060ef"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.body.recipient }}",
        "subject": "={{ $json.body.subject }}",
        "message": "={{ $json.body.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -400,
        -64
      ],
      "id": "79330549-0050-45cc-ba29-4cf567e478fb",
      "name": "Send Email",
      "webhookId": "9e6678d0-456f-4a9e-acc9-d8756121e87b",
      "credentials": {
        "gmailOAuth2": {
          "id": "tkqRW2XjpfGRoeEd",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "schema": "public",
        "table": "draft_replies",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "Executed"
          },
          "matchingColumns": [
            "id"
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -144,
        -112
      ],
      "id": "0ea019b5-8646-4401-b89b-d2fcec03cb19",
      "name": "Mark Draft Executed",
      "credentials": {
        "postgres": {
          "id": "57onlUbW4pSOWEVy",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": "public",
        "table": "email_actions",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "scheduling_status": "Executed"
          },
          "matchingColumns": [
            "id"
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -144,
        48
      ],
      "id": "a59fb1b5-6346-48cf-8d1a-8be2d2c8261a",
      "name": "Mark Action Executed",
      "credentials": {
        "postgres": {
          "id": "57onlUbW4pSOWEVy",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        112,
        -64
      ],
      "id": "98c3dfaa-c94c-4f30-87ec-57f0f5f376d4",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Mark Draft Executed",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mark Action Executed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Draft Executed": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Action Executed": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "be07d312-5438-4ed8-909e-2344664f4a10",
  "meta": {
    "instanceId": "8fed0a8d6c2a54f94de28c9ef58c5b89a59fc5e2c0ab498a8df1d24372114ead"
  },
  "id": "DdFyJtYPO5XE2UHV",
  "tags": []
}