n8n/Master Meeting Controller.json
{
  "name": "Master Meeting Controller",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        4176,
        2688
      ],
      "id": "7ba08f0c-6796-4419-9377-68802ea62842",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/drafts",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email_action_id",
              "value": "={{ $json.draft.email_action_id }}"
            },
            {
              "name": "content",
              "value": "={{ $json.draft.content }}"
            },
            {
              "name": "recipient",
              "value": "={{ $json.draft.recipient }}"
            },
            {
              "name": "subject",
              "value": "={{ $json.draft.subject }}"
            },
            {
              "name": "type",
              "value": "={{ $json.draft.type }}"
            },
            {
              "name": "reasoning",
              "value": "={{ $json.draft.reasoning }}"
            },
            {
              "name": "tags",
              "value": "={{ $json.draft.tags }}"
            },
            {
              "name": "suggested_slots",
              "value": "={{ $json.draft.suggested_slots }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3968,
        2688
      ],
      "id": "e4dd80a1-f5a6-4b4e-897c-766329fefc89",
      "name": "Save Draft"
    },
    {
      "parameters": {
        "jsCode": "const profile = $('Get User Profile').item.json;\nconst body = $('Webhook').item.json.body;\nreturn {\n  draft: {\n    email_action_id: body.email_action_id,\n    content: `Hi,\\n\\nI'm so sorry, but I have to cancel our scheduled meeting. I'll reach out soon to find another time that works.\\n\\nBest regards,\\n${profile.signature}`,\n    recipient: body.recipient || \"\",\n    subject: \"Meeting Cancellation notice\",\n    type: \"Cancellation\",\n    reasoning: \"Auto-drafted after calendar deletion.\",\n    tags: [\"Scheduling\", \"Cancelled\"]\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3520,
        3136
      ],
      "id": "ae0f41ca-a78d-48f6-94e4-8d8f4ab9bb25",
      "name": "Gen Cancel Draft"
    },
    {
      "parameters": {
        "schema": "public",
        "table": "email_actions",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "scheduling_status": "Cancelled",
            "google_event_id": ""
          },
          "matchingColumns": [
            "id"
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        3328,
        3136
      ],
      "id": "a1e1d541-1cef-4a5a-b4e5-a63cd05565ab",
      "name": "Mark Cancelled",
      "credentials": {
        "postgres": {
          "id": "57onlUbW4pSOWEVy",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Edit Fields').first().json.current_action }}",
                    "rightValue": "reschedule",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "2cd77667-09d5-4d28-8032-6ab5d0d633c6"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Edit Fields').first().json.current_action }}",
                    "rightValue": "cancel",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "5a8a4fbd-b2c1-435e-8524-db7feafa4c02"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.1,
      "position": [
        3072,
        2992
      ],
      "id": "26c88661-a35c-4d8c-8e80-e464f4878420",
      "name": "Resch/Canc Switch"
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list"
        },
        "eventId": "={{ $json.google_event_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        2880,
        2992
      ],
      "id": "7257e7bb-e40a-41ff-b7be-66957982e79e",
      "name": "Delete Calendar Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "86S7RvqQKlVN61Jw",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": "public",
        "table": "email_actions",
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $node[\"Webhook\"].json.body.email_action_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2672,
        2992
      ],
      "id": "dbc7fd01-bc26-4a91-8eb7-f93fb1376c12",
      "name": "Fetch Google Event ID",
      "credentials": {
        "postgres": {
          "id": "57onlUbW4pSOWEVy",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $('Webhook').item.json.body;\nconst profile = $('Get User Profile').item.json;\nconst startTime = new Date(body.start_time).toLocaleString('en-IN', { \n  weekday: 'long', month: 'short', day: 'numeric', hour: '2-digit', minute: '2-digit', timeZone: 'Asia/Kolkata' \n});\n\nreturn {\n  draft: {\n    email_action_id: body.email_action_id,\n    content: `Hi,\\n\\nI've confirmed our meeting for ${startTime} (IST). I've added it to our calendars.\\n\\nLooking forward to speaking!\\n\\n${profile.signature}`,\n    recipient: body.recipient,\n    subject: `Meeting Confirmed: ${body.recipient}`,\n    type: \"Confirmation\",\n    reasoning: \"Auto-drafted after successful calendar bridge.\",\n    tags: [\"Scheduling\", \"Confirmed\"]\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3728,
        2688
      ],
      "id": "d7643fae-fc15-4212-b0eb-f3b2debe10b6",
      "name": "Gen Confirm Draft"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://host.docker.internal:8000/email-actions/{{ $json.body.email_action_id }}/confirm",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "google_event_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "scheduled_time",
              "value": "={{ $node[\"Webhook\"].json.body.start_time }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3520,
        2688
      ],
      "id": "e082e176-7514-4e53-a865-188759cebb36",
      "name": "Confirm Backend"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list"
        },
        "start": "={{ $node[\"Prep Google Data\"].json.start }}",
        "end": "={{ $node[\"Prep Google Data\"].json.end }}",
        "additionalFields": {
          "attendees": [
            "={{ $node[\"Prep Google Data\"].json.attendee }}"
          ],
          "summary": "={{ $node[\"Prep Google Data\"].json.summary }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        3328,
        2688
      ],
      "id": "8d3d5330-c697-4207-bff8-3c4a0135af31",
      "name": "Create Google Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "86S7RvqQKlVN61Jw",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// This version handles the \"Always Output Data\" empty case correctly\nconst rawInput = $input.all();\nconst events = rawInput.filter(e => e.json.start);\nconst body = $('Webhook').item.json.body || {};\nconst profile = $('Get User Profile').item.json || { signature: \"\" };\nconst senderName = body.mail?.sender_name || 'there';\n\n// Professional Slot Hunting Logic\nconst START_HOUR = 9; const END_HOUR = 18; const istOffset = 5.5;\n\nfunction isBusy(start, end) {\n  return events.some(e => {\n    const eStart = new Date(e.json.start.dateTime || e.json.start.date);\n    const eEnd = new Date(e.json.end.dateTime || e.json.end.date);\n    return (start < eEnd && end > eStart);\n  });\n}\n\nconst availableSlots = []; const now = new Date();\nfor (let d = 0; d < 3; d++) {\n  const day = new Date(now); day.setDate(now.getDate() + d);\n  day.setUTCHours(Math.floor(START_HOUR - istOffset), 30, 0, 0);\n  for (let h = 0; h < (END_HOUR - START_HOUR) * 2; h++) {\n    const slotStart = new Date(day); slotStart.setMinutes(day.getMinutes() + (h * 30));\n    const slotEnd = new Date(slotStart); slotEnd.setMinutes(slotStart.getMinutes() + 30);\n    if (slotStart > now && !isBusy(slotStart, slotEnd)) {\n      availableSlots.push(slotStart); if (availableSlots.length >= 5) break;\n    }\n  }\n  if (availableSlots.length >= 5) break;\n}\n\nconst slotStrings = availableSlots.map(s => s.toLocaleString('en-IN', { \n  weekday: 'long', month: 'short', day: 'numeric', hour: '2-digit', minute: '2-digit', timeZone: 'Asia/Kolkata' \n}));\n\n// RALPH LOOP: Export raw ISOs for frontend buttons\nconst slots_raw = availableSlots.map(s => s.toISOString());\n\nconst suggestedDraft = `Hi ${senderName},\\n\\nI've reviewed my calendar and I have the following availability (IST):\\n\\n[DYNAMIC_SLOTS_HERE]\\n\\nDo any of these times work for a call?\\n\\n${profile.signature}`;\n\nreturn {\n  draft: {\n    email_action_id: body.email_action_id,\n    content: suggestedDraft,\n    recipient: body.mail?.sender_mail,\n    subject: `Re: ${body.mail?.subject || 'Meeting Request'}`,\n    type: \"Scheduling Proposal\",\n    reasoning: \"Autonomous slot hunting completed.\",\n    tags: [\"Scheduling\", \"Auto-Probe\"],\n    suggested_slots: slots_raw\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3120,
        2432
      ],
      "id": "c6fdb50e-ee66-492f-915a-2e9193cdc8cb",
      "name": "3-Day Probe"
    },
    {
      "parameters": {
        "jsCode": "const events = $input.all();\nconst body = $('Webhook').item.json.body || {};\nconst targetStart = new Date(body.start_time);\nconst targetEnd = new Date(targetStart.getTime() + 30 * 60000);\n\n// Filter out empty items produced by \"Always Output Data\"\nconst realEvents = events.filter(e => e.json.start);\n\nconst isBusy = realEvents.some(e => {\n  const eStart = new Date(e.json.start.dateTime || e.json.start.date);\n  const eEnd = new Date(e.json.end.dateTime || e.json.end.date);\n  return (targetStart < eEnd && targetEnd > eStart);\n});\n\nif (isBusy) {\n  throw new Error(\"CONFLICT: The requested slot is no longer available. Manual rescheduling required.\");\n}\nreturn { status: \"Clear\" };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3120,
        2688
      ],
      "id": "ade1c95f-bdf1-4dad-845f-62c88207e8fb",
      "name": "Final Conflict Check"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        2768,
        2432
      ],
      "id": "169967ae-b56a-48b3-8389-2f2f09a51f37",
      "name": "Check Availability",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "86S7RvqQKlVN61Jw",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Edit Fields').first().json.current_action }}",
                    "rightValue": "propose_times",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "d47d1a61-1030-454e-843e-bfeb020cc57a"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Edit Fields').first().json.current_action }}",
                    "rightValue": "confirm",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "23ae5fda-0d38-44c2-a325-a43532370d63"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Edit Fields').first().json.current_action }}",
                    "rightValue": "reschedule",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "f64dea8f-f502-4dc2-af7a-641518f5ed40"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Edit Fields').first().json.current_action }}",
                    "rightValue": "cancel",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "7341ab80-2adf-4ebc-a8ef-774121aa0fa3"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.1,
      "position": [
        2480,
        2736
      ],
      "id": "e2b4b177-648e-4c38-94f3-27f6be5506b2",
      "name": "Action Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "93693e50-8b38-4e8b-8e8e-8e8e8e8e8e8e",
              "name": "current_action",
              "value": "={{ $node[\"Webhook\"].json.body.action }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2336,
        2736
      ],
      "id": "ada70fa1-57d0-49c0-abd1-c29960b81fd7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": "public",
        "table": "user_profiles",
        "limit": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2160,
        2736
      ],
      "id": "e01a64b4-4097-4b4f-9ab6-9c8c542ee682",
      "name": "Get User Profile",
      "credentials": {
        "postgres": {
          "id": "57onlUbW4pSOWEVy",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "meeting-logic",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1872,
        2736
      ],
      "id": "94b7821d-e805-4112-9b12-f5d429a9870e",
      "name": "Webhook",
      "webhookId": "756f7317-2851-4455-bcaa-a1d5cfbfe5a3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Edit Fields').item.json.current_action }}",
                    "rightValue": "confirm",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "e843d7ee-0bf7-4ca1-a61e-993acde4b52f"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Edit Fields').item.json.current_action }}",
                    "rightValue": "confirm",
                    "operator": {
                      "type": "string",
                      "operation": "notContains"
                    },
                    "id": "7b9c997c-d767-45ba-b7be-379e1d6ad825"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.1,
      "position": [
        2800,
        2672
      ],
      "id": "eb2c77be-a011-482d-89cc-0a2b508c280c",
      "name": "Is Confirming?"
    },
    {
      "parameters": {
        "jsCode": "// 1. Pull the data from the initial Webhook trigger\nconst body = $('Webhook').item.json.body;\n\n// 2. Create the Start and End Date objects (defaulting to 30-minute meetings)\nconst start = new Date(body.start_time);\nconst end = new Date(start.getTime() + 30 * 60000); \n\n// 3. Helper function to ensure format is ALWAYS 'YYYY-MM-DDTHH:mm:ssZ'\n// This strips the '.000' milliseconds that often trigger the 400 Bad Request.\nconst formatForGoogle = (date) => date.toISOString().split('.')[0] + \"Z\";\n\nreturn {\n  start: formatForGoogle(start),\n  end: formatForGoogle(end),\n  attendee: body.recipient || body.mail?.sender_mail || \"guest@example.com\",\n  summary: `Meeting with ${body.recipient || 'Guest'}`\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2944,
        2816
      ],
      "id": "0aa05850-9e32-47aa-81dc-70eb5f03c0dc",
      "name": "Prep Google Data"
    }
  ],
  "pinData": {},
  "connections": {
    "Save Draft": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gen Cancel Draft": {
      "main": [
        [
          {
            "node": "Save Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Cancelled": {
      "main": [
        [
          {
            "node": "Gen Cancel Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resch/Canc Switch": {
      "main": [
        [
          {
            "node": "Check Availability",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Cancelled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Calendar Event": {
      "main": [
        [
          {
            "node": "Resch/Canc Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Google Event ID": {
      "main": [
        [
          {
            "node": "Delete Calendar Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gen Confirm Draft": {
      "main": [
        [
          {
            "node": "Save Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirm Backend": {
      "main": [
        [
          {
            "node": "Gen Confirm Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Google Event": {
      "main": [
        [
          {
            "node": "Confirm Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3-Day Probe": {
      "main": [
        [
          {
            "node": "Save Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Conflict Check": {
      "main": [
        [
          {
            "node": "Create Google Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Availability": {
      "main": [
        [
          {
            "node": "Is Confirming?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action Switch": {
      "main": [
        [
          {
            "node": "Check Availability",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Availability",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Google Event ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Google Event ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Action Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Profile": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get User Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Confirming?": {
      "main": [
        [
          {
            "node": "Prep Google Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "3-Day Probe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Google Data": {
      "main": [
        [
          {
            "node": "Final Conflict Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5fef3ce3-9288-4550-976e-1ed06b673746",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8fed0a8d6c2a54f94de28c9ef58c5b89a59fc5e2c0ab498a8df1d24372114ead"
  },
  "id": "rHG4M4QRrrQks38K",
  "tags": []
}