n8n/Master Meeting Controller.json
{
  "name": "Master Meeting Controller",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "meeting-logic",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -848,
        480
      ],
      "id": "2b84c9aa-3d2a-431a-a699-0ff18f1f36b0",
      "name": "Webhook",
      "webhookId": "fd24a140-fa64-4f26-9106-8e5041ffdd1f"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": "public",
        "table": "user_profiles",
        "limit": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -640,
        480
      ],
      "id": "f7362abf-e52b-41b8-ba1a-7b6339be47b1",
      "name": "Get User Profile",
      "credentials": {
        "postgres": {
          "id": "57onlUbW4pSOWEVy",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "1fb0e8e8-802f-4760-b13d-c8a6d7ff66d9",
                    "leftValue": "={{ $node[\"Webhook\"].json.body.action }}",
                    "rightValue": "propose_times",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "40c6e452-3fc9-4268-bea0-f80746d43230",
                    "leftValue": "={{ $node[\"Webhook\"].json.body.action }}",
                    "rightValue": "confirm",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "858ac026-ad99-448d-94a5-153adf19c6db",
                    "leftValue": "={{ $node[\"Webhook\"].json.body.action }}",
                    "rightValue": "reschedule",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "a3c8fcbc-cf64-4cd0-8548-8292e4f5796b",
                    "leftValue": "={{ $node[\"Webhook\"].json.body.action }}",
                    "rightValue": "cancel",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.1,
      "position": [
        -400,
        480
      ],
      "id": "090ece30-107e-49db-9294-e3ac6ded20cb",
      "name": "Action Switch"
    },
    {
      "parameters": {
        "operation": "list",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -96,
        176
      ],
      "id": "883810bf-bf42-47a6-afce-18ebbef1ea17",
      "name": "Check Availability",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "86S7RvqQKlVN61Jw",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "c98bf997-58d9-4d6f-ad71-a14bdef47fe1",
                    "leftValue": "={{ $node[\"Webhook\"].json.body.action }}",
                    "rightValue": "confirm",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "0f626c5c-8050-4161-9eed-1e2976894d0f",
                    "leftValue": "={{ $node[\"Webhook\"].json.body.action }}",
                    "rightValue": "confirm",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.1,
      "position": [
        64,
        368
      ],
      "id": "8e61cece-c3e6-454e-8257-d35ef3f9bf68",
      "name": "Is Confirming?"
    },
    {
      "parameters": {
        "jsCode": "const events = $input.all();\nconst body = $('Webhook').item.json.body || {};\nconst targetStart = new Date(body.start_time);\nconst targetEnd = new Date(targetStart.getTime() + 30 * 60000);\n\nconst isBusy = events.some(e => {\n  const eStart = new Date(e.json.start.dateTime || e.json.start.date);\n  const eEnd = new Date(e.json.end.dateTime || e.json.end.date);\n  return (targetStart < eEnd && targetEnd > eStart);\n});\n\nif (isBusy) {\n  throw new Error(\"CONFLICT: The requested slot is no longer available. Manual rescheduling required.\");\n}\nreturn { status: \"Clear\" };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        432
      ],
      "id": "a4afb696-ff01-4090-ac22-1a823e0cc5be",
      "name": "Final Conflict Check"
    },
    {
      "parameters": {
        "jsCode": "const events = $input.all();\nconst body = $('Webhook').item.json.body || {};\nconst profile = $('Get User Profile').item.json;\nconst senderName = body.mail?.sender_name || 'there';\nconst START_HOUR = 9; const END_HOUR = 18; const istOffset = 5.5;\n\nfunction isBusy(start, end) {\n  return events.some(e => {\n    const eStart = new Date(e.json.start.dateTime || e.json.start.date);\n    const eEnd = new Date(e.json.end.dateTime || e.json.end.date);\n    return (start < eEnd && end > eStart);\n  });\n}\n\nconst availableSlots = []; const now = new Date();\nfor (let d = 0; d < 3; d++) {\n  const day = new Date(now); day.setDate(now.getDate() + d);\n  day.setUTCHours(Math.floor(START_HOUR - istOffset), 30, 0, 0);\n  for (let h = 0; h < (END_HOUR - START_HOUR) * 2; h++) {\n    const slotStart = new Date(day); slotStart.setMinutes(day.getMinutes() + (h * 30));\n    const slotEnd = new Date(slotStart); slotEnd.setMinutes(slotStart.getMinutes() + 30);\n    if (slotStart > now && !isBusy(slotStart, slotEnd)) {\n      availableSlots.push(slotStart); if (availableSlots.length >= 5) break;\n    }\n  }\n  if (availableSlots.length >= 5) break;\n}\n\nconst slotStrings = availableSlots.map(s => s.toLocaleString('en-IN', { \n  weekday: 'long', month: 'short', day: 'numeric', hour: '2-digit', minute: '2-digit', timeZone: 'Asia/Kolkata' \n}));\n\nconst suggestedDraft = `Hi ${senderName},\\n\\nI've reviewed my calendar and I have the following availability over the next few days (IST):\\n\\n${slotStrings.map(s => `- ${s}`).join('\\n')}\\n\\nDo any of these times work for a call?\\n\\n${profile.signature}`;\n\nreturn {\n  draft: {\n    email_action_id: body.email_action_id,\n    content: suggestedDraft,\n    recipient: body.mail?.sender_mail,\n    subject: `Re: ${body.mail?.subject}`,\n    type: \"Scheduling Proposal\",\n    reasoning: \"Autonomous slot hunting triggered.\",\n    tags: [\"Scheduling\", \"Auto-Probe\"]\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        176
      ],
      "id": "4eff3e37-0dad-4e7e-95a0-1ff66824a821",
      "name": "3-Day Probe"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list"
        },
        "start": "={{ $node[\"Webhook\"].json.body.start_time }}",
        "end": "={{ $now.plus({minutes: 30}).toISOString() }}",
        "additionalFields": {
          "attendees": [
            "={{ $node[\"Webhook\"].json.body.recipient }}"
          ],
          "summary": "=Meeting with {{ $node[\"Webhook\"].json.body.recipient }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        464,
        432
      ],
      "id": "ce7f6ad8-f133-488f-b108-027c62f272c4",
      "name": "Create Google Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "86S7RvqQKlVN61Jw",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://host.docker.internal:8000/email-actions/{{ $node[\"Webhook\"].json.body.email_action_id }}/confirm",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "google_event_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        656,
        432
      ],
      "id": "0728d623-e7c5-4391-9650-7d4b96129ac3",
      "name": "Confirm Backend"
    },
    {
      "parameters": {
        "jsCode": "const body = $('Webhook').item.json.body;\nconst profile = $('Get User Profile').item.json;\nconst startTime = new Date(body.start_time).toLocaleString('en-IN', { \n  weekday: 'long', month: 'short', day: 'numeric', hour: '2-digit', minute: '2-digit', timeZone: 'Asia/Kolkata' \n});\n\nreturn {\n  draft: {\n    email_action_id: body.email_action_id,\n    content: `Hi,\\n\\nI've confirmed our meeting for ${startTime} (IST). I've added it to our calendars.\\n\\nLooking forward to speaking!\\n\\n${profile.signature}`,\n    recipient: body.recipient,\n    subject: `Meeting Confirmed: ${body.recipient}`,\n    type: \"Confirmation\",\n    reasoning: \"Auto-drafted after successful calendar bridge.\",\n    tags: [\"Scheduling\", \"Confirmed\"]\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        432
      ],
      "id": "0fee4516-a0e3-4eeb-82ec-e3b6c5836096",
      "name": "Gen Confirm Draft"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": "public",
        "table": "email_actions",
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $node[\"Webhook\"].json.body.email_action_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -192,
        736
      ],
      "id": "cfaf4484-f041-4c66-b3f4-35513383cdf5",
      "name": "Fetch Google Event ID",
      "credentials": {
        "postgres": {
          "id": "57onlUbW4pSOWEVy",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list"
        },
        "eventId": "={{ $json.google_event_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        16,
        736
      ],
      "id": "65933549-934c-482a-a3a7-9a251bf8e68b",
      "name": "Delete Calendar Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "86S7RvqQKlVN61Jw",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "338c1e40-de7e-4f1b-9276-ed9c847be25a",
                    "leftValue": "={{ $node[\"Webhook\"].json.body.action }}",
                    "rightValue": "reschedule",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "278a1df5-f8b8-46bc-b3cb-f56db40c9af1",
                    "leftValue": "={{ $node[\"Webhook\"].json.body.action }}",
                    "rightValue": "cancel",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.1,
      "position": [
        208,
        736
      ],
      "id": "610fbcb6-a18e-43d9-b0ec-e8736b722f72",
      "name": "Resch/Canc Switch"
    },
    {
      "parameters": {
        "schema": "public",
        "table": "email_actions",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "scheduling_status": "Cancelled",
            "google_event_id": ""
          },
          "matchingColumns": [
            "id"
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        464,
        880
      ],
      "id": "fd79d467-95a3-424f-9315-d7de40fbb225",
      "name": "Mark Cancelled",
      "credentials": {
        "postgres": {
          "id": "57onlUbW4pSOWEVy",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const profile = $('Get User Profile').item.json;\nconst body = $('Webhook').item.json.body;\nreturn {\n  draft: {\n    email_action_id: body.email_action_id,\n    content: `Hi,\\n\\nI'm so sorry, but I have to cancel our scheduled meeting. I'll reach out soon to find another time that works.\\n\\nBest regards,\\n${profile.signature}`,\n    recipient: body.recipient || \"\",\n    subject: \"Meeting Cancellation notice\",\n    type: \"Cancellation\",\n    reasoning: \"Auto-drafted after calendar deletion.\",\n    tags: [\"Scheduling\", \"Cancelled\"]\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        880
      ],
      "id": "378679a8-1bd2-45d2-bb37-6845ba0efc2e",
      "name": "Gen Cancel Draft"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/drafts",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email_action_id",
              "value": "={{ $json.draft.email_action_id }}"
            },
            {
              "name": "content",
              "value": "={{ $json.draft.content }}"
            },
            {
              "name": "recipient",
              "value": "={{ $json.draft.recipient }}"
            },
            {
              "name": "subject",
              "value": "={{ $json.draft.subject }}"
            },
            {
              "name": "type",
              "value": "={{ $json.draft.type }}"
            },
            {
              "name": "reasoning",
              "value": "={{ $json.draft.reasoning }}"
            },
            {
              "name": "tags",
              "value": "={{ $json.draft.tags }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1104,
        432
      ],
      "id": "6cfa557f-906f-4e27-b873-5f094957e2df",
      "name": "Save Draft"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1312,
        432
      ],
      "id": "96430d6a-04ac-4b9e-9b33-5779bdf522ed",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get User Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Profile": {
      "main": [
        [
          {
            "node": "Action Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action Switch": {
      "main": [
        [
          {
            "node": "Check Availability",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Availability",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Google Event ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Google Event ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Availability": {
      "main": [
        [
          {
            "node": "Is Confirming?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Confirming?": {
      "main": [
        [
          {
            "node": "Final Conflict Check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "3-Day Probe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Conflict Check": {
      "main": [
        [
          {
            "node": "Create Google Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3-Day Probe": {
      "main": [
        [
          {
            "node": "Save Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Google Event": {
      "main": [
        [
          {
            "node": "Confirm Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirm Backend": {
      "main": [
        [
          {
            "node": "Gen Confirm Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gen Confirm Draft": {
      "main": [
        [
          {
            "node": "Save Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Google Event ID": {
      "main": [
        [
          {
            "node": "Delete Calendar Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Calendar Event": {
      "main": [
        [
          {
            "node": "Resch/Canc Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resch/Canc Switch": {
      "main": [
        [
          {
            "node": "Check Availability",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Cancelled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Cancelled": {
      "main": [
        [
          {
            "node": "Gen Cancel Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gen Cancel Draft": {
      "main": [
        [
          {
            "node": "Save Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Draft": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0079a3fd-44f7-4c4f-8c5e-0b12c3aa4ebf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8fed0a8d6c2a54f94de28c9ef58c5b89a59fc5e2c0ab498a8df1d24372114ead"
  },
  "id": "rHG4M4QRrrQks38K",
  "tags": []
}