n8n/Master Meeting Controller.json
{
  "name": "Master Meeting Controller",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        4768,
        2240
      ],
      "id": "371ab75b-02bf-4303-8e45-b62149c2f97c",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/drafts",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email_action_id",
              "value": "={{ $json.draft.email_action_id }}"
            },
            {
              "name": "content",
              "value": "={{ $json.draft.content }}"
            },
            {
              "name": "recipient",
              "value": "={{ $json.draft.recipient }}"
            },
            {
              "name": "subject",
              "value": "={{ $json.draft.subject }}"
            },
            {
              "name": "type",
              "value": "={{ $json.draft.type }}"
            },
            {
              "name": "reasoning",
              "value": "={{ $json.draft.reasoning }}"
            },
            {
              "name": "tags",
              "value": "={{ $json.draft.tags }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4560,
        2240
      ],
      "id": "8294910c-4f4e-4b29-9ffd-34fc33ce8cdc",
      "name": "Save Draft"
    },
    {
      "parameters": {
        "jsCode": "const profile = $('Get User Profile').item.json;\nconst body = $('Webhook').item.json.body;\nreturn {\n  draft: {\n    email_action_id: body.email_action_id,\n    content: `Hi,\\n\\nI'm so sorry, but I have to cancel our scheduled meeting. I'll reach out soon to find another time that works.\\n\\nBest regards,\\n${profile.signature}`,\n    recipient: body.recipient || \"\",\n    subject: \"Meeting Cancellation notice\",\n    type: \"Cancellation\",\n    reasoning: \"Auto-drafted after calendar deletion.\",\n    tags: [\"Scheduling\", \"Cancelled\"]\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4112,
        2688
      ],
      "id": "fd1e255c-0a76-41e0-9caa-867e58799b67",
      "name": "Gen Cancel Draft"
    },
    {
      "parameters": {
        "schema": "public",
        "table": "email_actions",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "scheduling_status": "Cancelled",
            "google_event_id": ""
          },
          "matchingColumns": [
            "id"
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        3920,
        2688
      ],
      "id": "fd45966a-2f5f-4239-b31b-02c4290b1773",
      "name": "Mark Cancelled",
      "credentials": {
        "postgres": {
          "id": "57onlUbW4pSOWEVy",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"Webhook\"].json.body.action }}",
                    "rightValue": "reschedule",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"Webhook\"].json.body.action }}",
                    "rightValue": "cancel",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.1,
      "position": [
        3664,
        2544
      ],
      "id": "e6bd3b3d-69fe-4d4e-9330-f6f7089d00ff",
      "name": "Resch/Canc Switch"
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list"
        },
        "eventId": "={{ $json.google_event_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        3472,
        2544
      ],
      "id": "b4b1c8b8-7821-4fce-a519-37327756040e",
      "name": "Delete Calendar Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "86S7RvqQKlVN61Jw",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": "public",
        "table": "email_actions",
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $node[\"Webhook\"].json.body.email_action_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        3264,
        2544
      ],
      "id": "09978dda-338a-4940-a398-74be44ff474f",
      "name": "Fetch Google Event ID",
      "credentials": {
        "postgres": {
          "id": "57onlUbW4pSOWEVy",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $('Webhook').item.json.body;\nconst profile = $('Get User Profile').item.json;\nconst startTime = new Date(body.start_time).toLocaleString('en-IN', { \n  weekday: 'long', month: 'short', day: 'numeric', hour: '2-digit', minute: '2-digit', timeZone: 'Asia/Kolkata' \n});\n\nreturn {\n  draft: {\n    email_action_id: body.email_action_id,\n    content: `Hi,\\n\\nI've confirmed our meeting for ${startTime} (IST). I've added it to our calendars.\\n\\nLooking forward to speaking!\\n\\n${profile.signature}`,\n    recipient: body.recipient,\n    subject: `Meeting Confirmed: ${body.recipient}`,\n    type: \"Confirmation\",\n    reasoning: \"Auto-drafted after successful calendar bridge.\",\n    tags: [\"Scheduling\", \"Confirmed\"]\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4320,
        2240
      ],
      "id": "222c71bc-6e7d-4a01-894b-e92ff3240727",
      "name": "Gen Confirm Draft"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://host.docker.internal:8000/email-actions/{{ $node[\"Webhook\"].json.body.email_action_id }}/confirm",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "google_event_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4112,
        2240
      ],
      "id": "baf76212-4066-4011-b176-cdc2800e18fa",
      "name": "Confirm Backend"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list"
        },
        "start": "=={{ $node[\"Prep Google Data\"].json.start }}",
        "end": "=={{ $node[\"Prep Google Data\"].json.end }}",
        "additionalFields": {
          "attendees": [
            "=={{ $node[\"Prep Google Data\"].json.attendee }}"
          ],
          "summary": "=={{ $node[\"Prep Google Data\"].json.summary }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        3920,
        2240
      ],
      "id": "8fe536bc-0444-4842-8c50-6a919aaeb6b1",
      "name": "Create Google Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "86S7RvqQKlVN61Jw",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// This version handles the \"Always Output Data\" empty case correctly\nconst rawInput = $input.all();\nconst events = rawInput.filter(e => e.json.start);\nconst body = $('Webhook').item.json.body || {};\nconst profile = $('Get User Profile').item.json || { signature: \"\" };\nconst senderName = body.mail?.sender_name || 'there';\n\n// Professional Slot Hunting Logic\nconst START_HOUR = 9; const END_HOUR = 18; const istOffset = 5.5;\n\nfunction isBusy(start, end) {\n  return events.some(e => {\n    const eStart = new Date(e.json.start.dateTime || e.json.start.date);\n    const eEnd = new Date(e.json.end.dateTime || e.json.end.date);\n    return (start < eEnd && end > eStart);\n  });\n}\n\nconst availableSlots = []; const now = new Date();\nfor (let d = 0; d < 3; d++) {\n  const day = new Date(now); day.setDate(now.getDate() + d);\n  day.setUTCHours(Math.floor(START_HOUR - istOffset), 30, 0, 0);\n  for (let h = 0; h < (END_HOUR - START_HOUR) * 2; h++) {\n    const slotStart = new Date(day); slotStart.setMinutes(day.getMinutes() + (h * 30));\n    const slotEnd = new Date(slotStart); slotEnd.setMinutes(slotStart.getMinutes() + 30);\n    if (slotStart > now && !isBusy(slotStart, slotEnd)) {\n      availableSlots.push(slotStart); if (availableSlots.length >= 5) break;\n    }\n  }\n  if (availableSlots.length >= 5) break;\n}\n\nconst slotStrings = availableSlots.map(s => s.toLocaleString('en-IN', { \n  weekday: 'long', month: 'short', day: 'numeric', hour: '2-digit', minute: '2-digit', timeZone: 'Asia/Kolkata' \n}));\n\nconst suggestedDraft = `Hi ${senderName},\\n\\nI've reviewed my calendar and I have the following availability (IST):\\n\\n${slotStrings.map(s => `- ${s}`).join('\\n')}\\n\\nDo any of these times work for a call?\\n\\n${profile.signature}`;\n\nreturn {\n  draft: {\n    email_action_id: body.email_action_id,\n    content: suggestedDraft,\n    recipient: body.mail?.sender_mail,\n    subject: `Re: ${body.mail?.subject || 'Meeting Request'}`,\n    type: \"Scheduling Proposal\",\n    reasoning: \"Autonomous slot hunting completed.\",\n    tags: [\"Scheduling\", \"Auto-Probe\"]\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3712,
        1984
      ],
      "id": "a5f71ed7-dc1c-4783-9a61-774ef08b2f2b",
      "name": "3-Day Probe"
    },
    {
      "parameters": {
        "jsCode": "const events = $input.all();\nconst body = $('Webhook').item.json.body || {};\nconst targetStart = new Date(body.start_time);\nconst targetEnd = new Date(targetStart.getTime() + 30 * 60000);\n\n// Filter out empty items produced by \"Always Output Data\"\nconst realEvents = events.filter(e => e.json.start);\n\nconst isBusy = realEvents.some(e => {\n  const eStart = new Date(e.json.start.dateTime || e.json.start.date);\n  const eEnd = new Date(e.json.end.dateTime || e.json.end.date);\n  return (targetStart < eEnd && targetEnd > eStart);\n});\n\nif (isBusy) {\n  throw new Error(\"CONFLICT: The requested slot is no longer available. Manual rescheduling required.\");\n}\nreturn { status: \"Clear\" };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3712,
        2240
      ],
      "id": "215865cd-0fad-41fa-a246-ffa9716fe7f9",
      "name": "Final Conflict Check"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        3360,
        1984
      ],
      "id": "eba589c2-ba36-409d-b90d-e2a2f98524e5",
      "name": "Check Availability",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "86S7RvqQKlVN61Jw",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"Webhook\"].json.body.action }}",
                    "rightValue": "propose_times",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"Webhook\"].json.body.action }}",
                    "rightValue": "confirm",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"Webhook\"].json.body.action }}",
                    "rightValue": "reschedule",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"Webhook\"].json.body.action }}",
                    "rightValue": "cancel",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.1,
      "position": [
        3072,
        2288
      ],
      "id": "0683464f-2d99-4c4b-a284-3e5c367fccbf",
      "name": "Action Switch"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": "public",
        "table": "user_profiles",
        "limit": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2816,
        2288
      ],
      "id": "374e83ff-3291-4cd0-b1c8-30da227e895a",
      "name": "Get User Profile",
      "credentials": {
        "postgres": {
          "id": "57onlUbW4pSOWEVy",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "meeting-logic",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2464,
        2288
      ],
      "id": "56f29525-b3e9-4273-b66f-2dd635951d5b",
      "name": "Webhook",
      "webhookId": "756f7317-2851-4455-bcaa-a1d5cfbfe5a3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "=={{ $node[\"Webhook\"].json.body.action }}",
                    "rightValue": "confirm",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "e843d7ee-0bf7-4ca1-a61e-993acde4b52f"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "=={{ $node[\"Webhook\"].json.body.action }}",
                    "rightValue": "confirm",
                    "operator": {
                      "type": "string",
                      "operation": "notContains"
                    },
                    "id": "7b9c997c-d767-45ba-b7be-379e1d6ad825"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.1,
      "position": [
        3392,
        2224
      ],
      "id": "c29e7f2e-ede8-4b64-a85d-3e8bbbd4fc7a",
      "name": "Is Confirming?"
    },
    {
      "parameters": {
        "jsCode": "// 1. Pull the data from the initial Webhook trigger\nconst body = $('Webhook').item.json.body;\n\n// 2. Create the Start and End Date objects (defaulting to 30-minute meetings)\nconst start = new Date(body.start_time);\nconst end = new Date(start.getTime() + 30 * 60000); \n\n// 3. Helper function to ensure format is ALWAYS 'YYYY-MM-DDTHH:mm:ssZ'\n// This strips the '.000' milliseconds that often trigger the 400 Bad Request.\nconst formatForGoogle = (date) => date.toISOString().split('.')[0] + \"Z\";\n\nreturn {\n  start: formatForGoogle(start),\n  end: formatForGoogle(end),\n  attendee: body.recipient || body.mail?.sender_mail || \"guest@example.com\",\n  summary: `Meeting with ${body.recipient || 'Guest'}`\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3536,
        2368
      ],
      "id": "a1e08719-a21c-4d29-bc89-bd9c7901e8f1",
      "name": "Prep Google Data"
    }
  ],
  "pinData": {},
  "connections": {
    "Save Draft": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gen Cancel Draft": {
      "main": [
        [
          {
            "node": "Save Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Cancelled": {
      "main": [
        [
          {
            "node": "Gen Cancel Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resch/Canc Switch": {
      "main": [
        [
          {
            "node": "Check Availability",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Cancelled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Calendar Event": {
      "main": [
        [
          {
            "node": "Resch/Canc Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Google Event ID": {
      "main": [
        [
          {
            "node": "Delete Calendar Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gen Confirm Draft": {
      "main": [
        [
          {
            "node": "Save Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirm Backend": {
      "main": [
        [
          {
            "node": "Gen Confirm Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Google Event": {
      "main": [
        [
          {
            "node": "Confirm Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3-Day Probe": {
      "main": [
        [
          {
            "node": "Save Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Conflict Check": {
      "main": [
        [
          {
            "node": "Create Google Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Availability": {
      "main": [
        [
          {
            "node": "Is Confirming?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action Switch": {
      "main": [
        [
          {
            "node": "Check Availability",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Availability",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Google Event ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Google Event ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Profile": {
      "main": [
        [
          {
            "node": "Action Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get User Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Confirming?": {
      "main": [
        [
          {
            "node": "Prep Google Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "3-Day Probe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Google Data": {
      "main": [
        [
          {
            "node": "Final Conflict Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "34702043-d995-48fd-b76d-34c450fe4935",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8fed0a8d6c2a54f94de28c9ef58c5b89a59fc5e2c0ab498a8df1d24372114ead"
  },
  "id": "rHG4M4QRrrQks38K",
  "tags": []
}