n8n/Post Urgent_Fire_v2.json
{
  "name": "Post Urgent_Fire_v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c69bd0d4-a726-4c1c-a9a7-bf7a9337c32a",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3472,
        992
      ],
      "id": "d8493ac4-7a79-4a82-bf53-567e1686dcdd",
      "name": "Webhook",
      "webhookId": "089471a7-1336-4e27-991c-a53a8b87e00e"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.status }}",
                    "rightValue": "resolved",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Resolved"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.status }}",
                    "rightValue": "escalated",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Escalate"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.status }}",
                    "rightValue": "false_positive",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "False Positive"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -3248,
        976
      ],
      "id": "c2c02793-2866-4a6f-9615-c7ca68e80daa",
      "name": "Status Switch"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.analysis.urgency_score }}",
                    "rightValue": 50,
                    "operator": {
                      "type": "number",
                      "operation": "lte"
                    },
                    "id": "b2f4ba74-6ac5-4985-8020-8379291b09f7"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "43a26200-03e2-4f30-abce-a4ec41760292",
                    "leftValue": "={{ $('Webhook').item.json.body.analysis.urgency_score }}",
                    "rightValue": 70,
                    "operator": {
                      "type": "number",
                      "operation": "lte"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d240a97c-5d07-4a24-9d52-1db983d10852",
                    "leftValue": "={{ $('Webhook').item.json.body.analysis.urgency_score }}",
                    "rightValue": 85,
                    "operator": {
                      "type": "number",
                      "operation": "lte"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "27176c3d-979c-468a-b915-c93c2c78c3c3",
                    "leftValue": "={{ $('Webhook').item.json.body.analysis.urgency_score }}",
                    "rightValue": 85,
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -2992,
        1200
      ],
      "id": "d164ef91-69a1-4051-9527-dcc83178d58e",
      "name": "Urgency Tier Switch"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0ASWM6TRK5",
          "mode": "list",
          "cachedResultName": "prod-issues"
        },
        "text": "=🔍 *Tier 1 Alert: Low Urgency* ({{ $json.body.analysis.urgency_score }}%)\n*Subject:* {{ $json.body.mail.subject }}\n*Summary:* {{ $json.body.analysis.summary }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        -2736,
        992
      ],
      "id": "6f396e1a-e9c0-42fe-9eb6-b27af4e03fee",
      "name": "Tier 1: Slack",
      "webhookId": "9e140216-b403-498e-ad2e-c460c11fd835",
      "credentials": {
        "slackApi": {
          "id": "A4HawA8XorXQ0Hpr",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "value": "10001",
          "mode": "list",
          "cachedResultName": "Demo"
        },
        "issueType": {
          "__rl": true,
          "value": "10006",
          "mode": "list",
          "cachedResultName": "Bug"
        },
        "summary": "=Tier 2 Task: {{ $json.body.analysis.summary }}",
        "additionalFields": {
          "description": "=Urgency Score: {{ $json.body.analysis.urgency_score }}%\nSender: {{ $json.body.mail.sender_mail }}"
        }
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        -2736,
        1184
      ],
      "id": "ba848957-9f98-4ed7-ad38-a5e5e208b7eb",
      "name": "Tier 2: Jira Task",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "7Ml59y7ZCt8I2Yvn",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0ABR4QV82K",
          "mode": "list",
          "cachedResultName": "prod-issues"
        },
        "text": "=⚠️ *Tier 2 Attention:* @on-call High Probability Issue ({{ $json.body.analysis.urgency_score }}%)\nSummary: {{ $json.body.analysis.summary }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        -2512,
        1184
      ],
      "id": "4d6d2b0a-4301-413a-8bdf-37c7daf75543",
      "name": "Tier 2: Slack Alert",
      "webhookId": "358f80dd-f37f-423e-b934-079a56f8ee93",
      "credentials": {
        "slackApi": {
          "id": "A4HawA8XorXQ0Hpr",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "from": "+16414294864",
        "to": "+919370811516",
        "toWhatsapp": true,
        "message": "={{ \"🚨 URGENT (Tier 3): \" + $json.body.analysis.urgency_score + \"% Urgency. \\nSystem: \" + $json.body.analysis.entities.affected_system + \" \\nIssue: \" + $json.body.analysis.entities.issue_type + \" \\nSummary: \" + $json.body.analysis.summary + \" \\nCheck the SoMailer Dashboard immediately.\" }}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -2736,
        1376
      ],
      "id": "e05bc2b2-7c76-415d-a48a-d8860c47f225",
      "name": "Tier 3: Twilio SMS",
      "credentials": {
        "twilioApi": {
          "id": "Z9quNElMvo3Z6euM",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "value": "10001",
          "mode": "list",
          "cachedResultName": "Demo"
        },
        "issueType": {
          "__rl": true,
          "value": "10006",
          "mode": "list",
          "cachedResultName": "Bug"
        },
        "summary": "=Tier 3 BUG: {{ $json.body.analysis.summary }}",
        "additionalFields": {
          "priority": "High"
        }
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        -2512,
        1376
      ],
      "id": "44ed3e2c-630b-4b65-8169-141190dc2b87",
      "name": "Tier 3: Jira Bug",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "7Ml59y7ZCt8I2Yvn",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "resource": "call",
        "from": "+16414294864",
        "to": "+919370811516",
        "message": "=Critical Escalation Tier 4. Urgency Score is {{ $json.body.analysis.urgency_score }} percent. Immediate action required. Summary: {{ $json.body.analysis.summary }}.",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -2736,
        1568
      ],
      "id": "dc73409a-59b5-4b13-9e67-ca66ce3e9c80",
      "name": "Tier 4: Twilio Call",
      "credentials": {
        "twilioApi": {
          "id": "Z9quNElMvo3Z6euM",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "value": "10001",
          "mode": "list",
          "cachedResultName": "Demo"
        },
        "issueType": {
          "__rl": true,
          "value": "10006",
          "mode": "list",
          "cachedResultName": "Bug"
        },
        "summary": "=🚨 EMERGENCY (Tier 4): {{ $json.body.analysis.summary }}",
        "additionalFields": {
          "priority": "Highest"
        }
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        -2512,
        1568
      ],
      "id": "054b0739-1703-4234-a520-772bc239d91b",
      "name": "Tier 4: Emergency Jira",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "7Ml59y7ZCt8I2Yvn",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0ABR4QV82K",
          "mode": "list",
          "cachedResultName": "prod-issues"
        },
        "text": "=<!channel> 🔥 *CRITICAL ESCALATION (Tier 4)* - Urgency Score: {{ $json.body.analysis.urgency_score }}%\n*Summary:* {{ $json.body.analysis.summary }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        -2288,
        1568
      ],
      "id": "0f47f77d-2e07-49ed-9d7b-09d3763f465d",
      "name": "Tier 4: Slack <!channel>",
      "webhookId": "2fc0a5dd-a9c0-4f81-a365-3680aba00f0b",
      "credentials": {
        "slackApi": {
          "id": "A4HawA8XorXQ0Hpr",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n  id: $('Webhook').first().json.body.card_id,\n  status: \"flagged_low\"\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1968,
        992
      ],
      "id": "fd483f86-35ff-4ff8-9e57-63fef3bc863d",
      "name": "Code: Low Status"
    },
    {
      "parameters": {
        "jsCode": "return {\n  id: $('Webhook').first().json.body.card_id,\n  status: \"flagged_medium\"\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1968,
        1184
      ],
      "id": "56ba2f04-deee-47e8-9bd1-565a64b6632c",
      "name": "Code: Medium Status"
    },
    {
      "parameters": {
        "jsCode": "return {\n  id: $('Webhook').first().json.body.card_id,\n  status: \"flagated_high\"\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1968,
        1376
      ],
      "id": "55243617-fbb0-432a-aebf-89cabf2c2f14",
      "name": "Code: High Status"
    },
    {
      "parameters": {
        "jsCode": "return {\n  id: $('Webhook').first().json.body.card_id,\n  status: \"critical_escalation\"\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1968,
        1568
      ],
      "id": "84feca04-599a-4a1c-857a-44ed9f953371",
      "name": "Code: Critical Status"
    },
    {
      "parameters": {
        "jsCode": "return {\n  id: $('Webhook').first().json.body.card_id,\n  status: \"resolved\"\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1968,
        800
      ],
      "id": "6135c8f4-4c1e-4e75-b493-99d822ac54be",
      "name": "Code: Resolved Status"
    },
    {
      "parameters": {
        "jsCode": "return {\n  id: $('Webhook').first().json.body.card_id,\n  status: \"false_positive\"\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1968,
        1760
      ],
      "id": "9e50ab97-27c5-42c0-8a91-7d0dfce75a7e",
      "name": "Code: FP Status"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": "public",
        "table": "email_actions",
        "columns": {
          "0": "p",
          "1": "a",
          "2": "y",
          "3": "l",
          "4": "o",
          "5": "a",
          "6": "d",
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "scheduling_status": "={{ $json.status }}",
            "payload": "={{ JSON.stringify($node[\"Webhook\"].json.body) }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "payload",
              "displayName": "payload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "email_received_at",
              "displayName": "email_received_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "scheduling_status",
              "displayName": "scheduling_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "scheduled_time",
              "displayName": "scheduled_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "external_event_id",
              "displayName": "external_event_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "google_event_id",
              "displayName": "google_event_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -1744,
        1200
      ],
      "id": "9e4f39a3-160c-4d74-aecf-c3638dcdeba3",
      "name": "Update Postgres",
      "credentials": {
        "postgres": {
          "id": "57onlUbW4pSOWEVy",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -1552,
        1200
      ],
      "id": "63489b95-8907-4d71-b3f1-d665dfc1bc92",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Status Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status Switch": {
      "main": [
        [
          {
            "node": "Code: Resolved Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Urgency Tier Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: FP Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Urgency Tier Switch": {
      "main": [
        [
          {
            "node": "Tier 1: Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tier 2: Jira Task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tier 3: Twilio SMS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tier 4: Twilio Call",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        []
      ]
    },
    "Tier 1: Slack": {
      "main": [
        [
          {
            "node": "Code: Low Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tier 2: Jira Task": {
      "main": [
        [
          {
            "node": "Tier 2: Slack Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tier 2: Slack Alert": {
      "main": [
        [
          {
            "node": "Code: Medium Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tier 3: Twilio SMS": {
      "main": [
        [
          {
            "node": "Tier 3: Jira Bug",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tier 3: Jira Bug": {
      "main": [
        [
          {
            "node": "Code: High Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tier 4: Twilio Call": {
      "main": [
        [
          {
            "node": "Tier 4: Emergency Jira",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tier 4: Emergency Jira": {
      "main": [
        [
          {
            "node": "Tier 4: Slack <!channel>",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tier 4: Slack <!channel>": {
      "main": [
        [
          {
            "node": "Code: Critical Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Resolved Status": {
      "main": [
        [
          {
            "node": "Update Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Low Status": {
      "main": [
        [
          {
            "node": "Update Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Medium Status": {
      "main": [
        [
          {
            "node": "Update Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: High Status": {
      "main": [
        [
          {
            "node": "Update Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Critical Status": {
      "main": [
        [
          {
            "node": "Update Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: FP Status": {
      "main": [
        [
          {
            "node": "Update Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Postgres": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "7058e0b1-3152-4db7-ba46-51ed9bf93c04",
  "meta": {
    "instanceId": "8fed0a8d6c2a54f94de28c9ef58c5b89a59fc5e2c0ab498a8df1d24372114ead"
  },
  "id": "odGz0asapLJDVJVl",
  "tags": []
}