n8n/Vision Main Automation.json
{
  "name": "Vision Main Automation - FINAL FIX",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "includeSpamTrash": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        1216,
        1328
      ],
      "id": "48ab8c47-ab53-4768-a810-20cc4270b62a",
      "name": "Gmail Trigger1",
      "credentials": {
        "gmailOAuth2": {
          "id": "tkqRW2XjpfGRoeEd",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/c69bd0d4-a726-4c1c-a9a7-bf7a9337c32a",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "rawPayload",
              "value": "={{JSON.stringify($json)}}"
            }
          ]
        },
        "options": {}
      },
      "id": "d44f779b-22fe-46d8-b39c-31cb62dcb1a5",
      "name": "Trigger Urgent Fire1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1856,
        1136
      ]
    },
    {
      "parameters": {
        "schema": "public",
        "table": "email_actions",
        "columns": "payload",
        "options": {}
      },
      "id": "7f60d050-023c-48a7-be59-d309d7d8d23a",
      "name": "Save Blacklist1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1856,
        1344
      ],
      "credentials": {
        "postgres": {
          "id": "57onlUbW4pSOWEVy",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = [];\n\nfor (const item of $input.all()) {\n  const emailData = item.json;\n  \n  let senderEmail = '';\n  let senderName = '';\n\n  if (emailData.from?.value?.[0]) {\n    senderEmail = emailData.from.value[0].address || '';\n    senderName = emailData.from.value[0].name || senderEmail;\n  } else if (emailData.from?.text) {\n    const emailMatch = emailData.from.text.match(/<([^>]+)>/) || \n                      emailData.from.text.match(/([^\\s]+@[^\\s]+)/);\n    senderEmail = emailMatch ? emailMatch[1] : emailData.from.text;\n    \n    const nameMatch = emailData.from.text.match(/^([^<]+)/);\n    senderName = nameMatch ? nameMatch[1].trim().replace(/\\\"/g, '') : senderEmail;\n  }\n\n  const receivedDate = new Date(emailData.date || emailData.receivedTime);\n  const formattedDate = receivedDate.toLocaleString('en-US', {\n    year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', hour12: true\n  });\n\n  let emailContent = '';\n  if (emailData.text) {\n    emailContent = emailData.text;\n  } else if (emailData.html) {\n    emailContent = emailData.html.replace(/<style[^>]*>.*?<\\/style>/gs, '').replace(/<[^>]*>/g, ' ').replace(/\\s+/g, ' ').trim();\n  } else if (emailData.body) {\n    emailContent = emailData.body;\n  }\n\n  const rowData = {\n    mailid: $input.first().json.id,\n    date: formattedDate,\n    senderName: senderName,\n    senderEmail: senderEmail,\n    subject: emailData.subject || 'No Subject',\n    content: emailContent,\n    hasAttachments: ($binary != undefined && Object.keys($binary).length > 0)\n  };\n  \n  items.push({ json: rowData, binary: item.binary });\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1856,
        1600
      ],
      "id": "6713ae22-f197-4e25-831a-a603c6df4e10",
      "name": "Code in JavaScript1",
      "notesInFlow": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.hasAttachments}}",
              "value2": true
            }
          ]
        }
      },
      "id": "46cb509e-313d-410e-a769-581283c2a9c7",
      "name": "Has Attachments?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2160,
        1600
      ]
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash"
        },
        "text": "Analyze this document (PDF/Image/Data) for high-depth actionable intelligence relevant to a professional executive workspace.\n\nChain-of-Thought Reasoning:\n\n1) Identify Type: Is this an Invoice, Contract, Meeting Deck, or Report?\n2) Contextual Relevance: How does this impact the recipient?\n3) Intelligence Extraction:\n      a) Dates: Identify all deadlines, meeting times, or renewal dates.\n      b) Financials: Look for figures, totals, budgets, or payment terms.\n      c) Signatures: Detect if a signature or approval is requested from the user.\n4) Actionable Summary: Generate a high-density summary focused on what needs to be done next.\nOutput Format:\n\n     Document Type: [Type]\n     Key Intelligence: [High-level actionable items]\n     Critical Dates: [List of dates]\n     Financial Figures: [List of values]\nRequested Action: [Specific next step for the user]\n",
        "inputType": "binary",
        "binaryPropertyName": "attachment_0",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        2464,
        1488
      ],
      "id": "831876c1-f95a-4e33-bde1-e6ece2cb5ddb",
      "name": "Analyze document1",
      "credentials": {
        "googlePalmApi": {
          "id": "VR07vQM1DybOfh2l",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/process-email",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "sender_email",
              "value": "={{ $json.senderEmail }}"
            },
            {
              "name": "subject",
              "value": "={{$json.subject}}"
            },
            {
              "name": "content",
              "value": "={{$json.content}}"
            },
            {
              "name": "attachment_analysis",
              "value": "={{ $if($node[\"Analyze document1\"].isExecuted, $node[\"Analyze document1\"].json.output, \"No attachment\") }}"
            }
          ]
        },
        "options": {}
      },
      "id": "90f1b849-7855-4e46-b06c-fdb2c50e1bbd",
      "name": "FastAPI Gateway1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2768,
        1600
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "fb744f69-dd4f-4f73-97be-2d8048e175c1",
                    "leftValue": "=={{$json.sender || $json.from}}",
                    "rightValue": "=priority@example.com",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5a6a0b02-8750-417f-a75e-237231e2c573",
                    "leftValue": "=={{$json.sender || $json.from}}",
                    "rightValue": "blacklist@example.com",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1488,
        1312
      ],
      "id": "8a01c7d4-7f9b-4198-8374-1e633e0ee384",
      "name": "Switch",
      "retryOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Has Attachments?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Attachments?1": {
      "main": [
        [
          {
            "node": "Analyze document1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FastAPI Gateway1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze document1": {
      "main": [
        [
          {
            "node": "FastAPI Gateway1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Trigger Urgent Fire1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Blacklist1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "4eb89dcd-0bc7-476f-9c2c-85d6194def53",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8fed0a8d6c2a54f94de28c9ef58c5b89a59fc5e2c0ab498a8df1d24372114ead"
  },
  "id": "oA6nYM3QvUvjQzhY",
  "tags": []
}