n8n/Vision Main Automation.json
{
  "name": "Vision Main Automation - FINAL FIX",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "includeSpamTrash": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -448,
        192
      ],
      "id": "b182c775-0f33-4ac8-8d85-9fffcc0e7625",
      "name": "Gmail Trigger1",
      "credentials": {
        "gmailOAuth2": {
          "id": "tkqRW2XjpfGRoeEd",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.sender || $json.from}}",
        "rules": {
          "rules": [
            {
              "operation": "contains",
              "value2": "priority@example.com"
            },
            {
              "operation": "contains",
              "value2": "blacklist@example.com"
            }
          ]
        },
        "fallbackOutput": 2
      },
      "id": "7366af70-3fcc-4d37-8121-e52df619973b",
      "name": "Intelligent Filter1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [
        -224,
        192
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/c69bd0d4-a726-4c1c-a9a7-bf7a9337c32a",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "rawPayload",
              "value": "={{JSON.stringify($json)}}"
            }
          ]
        },
        "options": {}
      },
      "id": "d2a8f84f-b037-4d8a-ac55-bb4815067381",
      "name": "Trigger Urgent Fire1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "schema": "public",
        "table": "email_actions",
        "columns": "payload",
        "options": {}
      },
      "id": "2ee08527-d3d0-4b8c-8418-799c86692d64",
      "name": "Save Blacklist1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        200,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "57onlUbW4pSOWEVy",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = [];\n\nfor (const item of $input.all()) {\n  const json = item.json;\n  const payload = json.payload || {};\n  const headers = payload.headers || [];\n  \n  // 1. Format-Agnostic Header Extraction\n  const from = json.from || headers.find(h => h.name.toLowerCase() === 'from')?.value || 'unknown@example.com';\n  const subject = json.subject || headers.find(h => h.name.toLowerCase() === 'subject')?.value || 'No Subject';\n\n  const senderEmail = from.includes('<') ? from.match(/<([^>]+)>/)[1] : from;\n  const nameMatch = from.match(/^([^<]+)/);\n  const senderName = nameMatch ? nameMatch[1].trim().replace(/\\\"/g, '') : senderEmail;\n\n  // 2. Full Content Extraction Improvement\n  let emailContent = '';\n  if (json.text) {\n    emailContent = json.text;\n  } else if (json.html) {\n    emailContent = json.html.replace(/<[^>]*>/g, ' '); \n  } else if (payload.parts) {\n    const textPart = payload.parts.find(p => p.mimeType === 'text/plain');\n    if (textPart && textPart.body.data) {\n        emailContent = Buffer.from(textPart.body.data, 'base64').toString('utf8');\n    }\n  } else if (payload.body && payload.body.data) {\n    emailContent = Buffer.from(payload.body.data, 'base64').toString('utf8');\n  }\n  \n  if (!emailContent.trim()) emailContent = json.snippet || '';\n\n  const receivedDate = new Date(json.date || json.receivedTime || Date.now());\n  const formattedDate = receivedDate.toLocaleString('en-US', {\n    year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', hour12: true\n  });\n\n  const rowData = {\n    mailid: json.id,\n    date: formattedDate,\n    senderName: senderName,\n    senderEmail: senderEmail,\n    subject: subject,\n    content: emailContent.trim(),\n    hasAttachments: ($binary != undefined && Object.keys($binary).length > 0)\n  };\n  \n  items.push({ json: rowData, binary: item.binary });\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        450
      ],
      "id": "4992a5ef-3e26-403a-b37f-67a279fd9321",
      "name": "Code in JavaScript1",
      "notesInFlow": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.hasAttachments}}",
              "value2": true
            }
          ]
        }
      },
      "id": "cb9f3dba-517b-46b7-80e2-cfd56594a894",
      "name": "Has Attachments?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        500,
        450
      ]
    },
    {
      "parameters": {
        "resource": "document",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash"
        },
        "text": "Summarize the key information and any action items found in this attachment. Provide the summary in 2-3 concise sentences for a management dashboard.",
        "inputType": "binary",
        "binaryPropertyName": "attachment_0",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        800,
        350
      ],
      "id": "ccbba203-3a46-47c8-8ea0-d42c251daa2d",
      "name": "Analyze document1",
      "credentials": {
        "googlePalmApi": {
          "id": "VR07vQM1DybOfh2l",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/process-email",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "sender_email",
              "value": "={{ $json.senderEmail }}"
            },
            {
              "name": "subject",
              "value": "={{$json.subject}}"
            },
            {
              "name": "content",
              "value": "={{$json.content}}"
            },
            {
              "name": "attachment_analysis",
              "value": "={{ $node[\"Analyze document1\"]?.json?.output || 'No attachment' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "840b14be-a78d-4f0b-94bc-3557ddc1f108",
      "name": "FastAPI Gateway1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1100,
        450
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger1": {
      "main": [
        [
          {
            "node": "Intelligent Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intelligent Filter1": {
      "main": [
        [
          {
            "node": "Trigger Urgent Fire1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Blacklist1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Has Attachments?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Attachments?1": {
      "main": [
        [
          {
            "node": "Analyze document1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FastAPI Gateway1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze document1": {
      "main": [
        [
          {
            "node": "FastAPI Gateway1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f0643ea1-54aa-49c0-9f2d-b18a38c29e1c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8fed0a8d6c2a54f94de28c9ef58c5b89a59fc5e2c0ab498a8df1d24372114ead"
  },
  "id": "oA6nYM3QvUvjQzhY",
  "tags": []
}